.section-title {
  max-width: 800px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.09;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .section-title {
    max-width: 600px;
    font-size: 2.625rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    max-width: 343px;
    font-size: 2rem;
  }
}