.comments__avatar {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  margin-bottom: 34px;
}

@media screen and (max-width: 1023px) {
  .comments__avatar {
    align-self: center;
    margin-bottom: 16px;
  }
}
