.places__title {
  width: 460px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 0.91;
  color: #ffffff;
  margin: 0;
  margin-right: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  align-self: flex-end;
}

@media screen and (max-width: 1279px) {
  .places__title {
    width: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__title {
    width: 340px;
    margin-right: 28px;
    font-size: 2.625rem;
    line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
  .places__title {
    width: 343px;
    padding-left: 16px;
    padding-right: 0;
    font-size: 2rem;
    line-height: 1.1;
    }
}

@media screen and (max-width: 374px) {
  .places__title {
    width: 288px;
    }
}