.places__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7;
  color: #ffffff;
  margin: 0;
}

.places__text:first-of-type {
  margin-top: -3px;
  margin-bottom: 23px;
}

@media screen and (max-width: 1279px) {
  .places__text:first-of-type {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .places__text {
    line-height: 1.7;
    font-size: 1rem;
  }
}