.intro__info-text {
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.55;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__info-text {
    font-size: 0.75rem;
    line-height: 1.6;
  }
}