.lead__image {
  max-width: 100%;
  margin-bottom: 11px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 374px) {
  .lead__image {
    min-height: 211px;
  }
}