.intro__text {
  max-width: 683px;
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.72; 
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 32px;
  }
}