.cover__text {
  max-width: 382px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.49;
  text-align: center;
  color: #ffffff;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__text {
    max-width: 280px;
    font-size: 0.875rem;
    line-height: 1.25;
  }
}
