@import url(./__navigation/footer__navigation.css);
@import url(./__links/footer__links.css);
@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 102px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    display: block;
  }
}