.intro__title {
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 32px;
  }
}